.header {
    background: var(--color-main);

    &__top {
        border-bottom: 1px solid rgba($color: #fff, $alpha: .2);
        font-size: 12px;
        padding: 6px 0;
        color: var(--color-white);

        &--wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .info-header {
            display: flex;
            align-items: center;
            justify-content: start;

            svg {
                margin-right: 5px;
            }
        }

        &--policy {
            display: flex;
            align-items: center;
            justify-content: end;

            li:last-child {
                margin-left: 7px;
            }

            a {
                color: var(--color-white);
                text-decoration: none;
            }
        }
    }

    &__bottom {
        padding: 10px 0;
        font-size: 14px;

        &--wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &--search {
            width: 100%;
            max-width: 400px;
            margin-left: 25px;
        }

        &--cart {
            margin-left: 25px;
        }

        &--account {
            margin-left: 25px;
        }

        &--flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.icon-logo-newsversion {
    background-position: -105px -260px;
    height: 41px;
    width: 194px;
}

[class^="icon-logo-"],
[class*="icon-logo-"] {
    background-image: url(//cdn.tgdd.vn/mwgcart/bluekids/images/common/desktop/icon_common@2x.webp);
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    background-size: 350px 350px;
}

#form-seach {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-white);
    border-radius: 25px;
    width: 100%;
    width: 100%;

    #btnSearch {
        border: none;
        padding: 0;
        width: 60px;
        height: 40px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    #search {
        background: transparent;
        border: 0;
        border-radius: 0;
        line-height: 40px;
        height: 40px;
        width: 100%;
        padding-left: 20px;
    }
}

.flex__cart,
.flex__user {
    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--color-white);

    &--icon {
        .svg {
            position: relative;
            display: block;
            width: 25px;
            height: 25px;

            svg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                path {
                    fill: var(--color-white);
                }
            }
        }

        margin-right: 8px;
    }

    a {
        color: var(--color-white);
        text-decoration: none;
    }
}

.menu {
    padding: 5px 0px 8px 0px;
}

.menu__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu__line {
        width: 100%;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;

            li {
                a {
                    text-decoration: none;
                    color: var(--color-white);
                    text-transform: uppercase;
                    font-size: 14px;
                }
            }
        }
    }
}

.menu__category {
    padding: 12px 0;
    position: absolute;
    top: 10px;
    left: 0;
    display: none;

    ul {
        align-items: center;
        display: block;
        justify-content: space-between;
        position: relative;
        text-align: center;
        width: 240px;
        background: #fff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
        border-radius: 0 0 8px 8px;
        z-index: 9;
        top: 24px;

        >li {
            border-bottom: 1px solid #ececec;
            padding: 12px 0;
            text-align: left;
            margin: 0 10px;

            >a {
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                position: relative;
                white-space: nowrap;
                display: block;
                text-decoration: none;
                color: var(--color-black);

                &:hover {
                    color: var(--color-main);
                    font-weight: bold;
                }
            }
        }
    }
}

.menu__dropdown {
    &:hover {
        .menu__category {
            display: block;
        }
    }
}

.main__breadcumb {
    .breadcrumb {
        display: flex;
        align-items: center;
        justify-content: start;

        li {
            font-size: 14px;
            position: relative;
            color: rgb(128, 128, 137);

            &:not(:last-child) {
                margin-right: 8px;
            }

            a {
                text-decoration: none;
                color: rgb(128, 128, 137);

                &:hover {
                    color: var(--color-black);
                }
            }

            &:not(:first-child) {
                padding-left: 14px;

                &::before {
                    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="6" height="11" viewBox="0 0 6 11"><path fill="%23808089" fill-rule="evenodd" clip-rule="evenodd" d="M0.646447 0.646447C0.841709 0.451184 1.15829 0.451184 1.35355 0.646447L6.35355 5.64645C6.54882 5.84171 6.54882 6.15829 6.35355 6.35355L1.35355 11.3536C1.15829 11.5488 0.841709 11.5488 0.646447 11.3536C0.451184 11.1583 0.451184 10.8417 0.646447 10.6464L5.29289 6L0.646447 1.35355C0.451184 1.15829 0.451184 0.841709 0.646447 0.646447Z"></path></svg>');
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
}