.main {
    &__wrapper {
        display: flex;
        padding-top: 16px;
        justify-content: space-between;
        &--left {
            width: 230px;
            max-height: 100vh;
            position: sticky;
            overflow-y: scroll;
            top: 16px;
            background-color: transparent;
            display: flex;
            padding-bottom: 117px;
            flex-direction: column;
            color: rgb(56, 56, 61);
            font-size: 14px;
            line-height: 20px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &--right {
            width: calc(100% - 254px);
            overflow-x: hidden;
            gap: 16px;
            display: flex;
            flex-direction: column;
        }
    }
}

.list__category--left {
    position: relative;
    display: flex;
    margin-bottom: 16px;
    padding: 12px 8px;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;

    .heading {
        margin-bottom: 8px;

        h2 {
            font-weight: bold;
            margin: 0;
            font-size: 14px;
            padding-left: 16px;
            line-height: 150%;
            color: rgb(39, 39, 42);
        }
    }
}

.main__banner {
    position: relative;

    .owl__banner {
        &--item {
            border-radius: 10px !important;
            overflow: hidden;

            img,
            a {
                border-radius: 10px !important;
                overflow: hidden;
            }
        }

        .owl-dots {
            margin: 0px;
            position: absolute;
            left: 0;
            bottom: 15px;
            right: 0;
            margin: 0 auto;

            .owl-dot {
                span {
                    background-color: rgba(255, 255, 255, 0.5);
                    margin: 0px 2px;
                    width: 24px;
                    height: 2px;
                    border-radius: unset;
                }

                &.active {
                    span {
                        background-color: rgba(255, 255, 255, 1);
                    }
                }
            }
        }
    }
}

.category {
    & &__item {
        color: rgb(56, 56, 61);
        display: flex;
        padding: 7px 16px;
        -webkit-box-align: center;
        align-items: center;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        text-decoration: none;

        &:hover {
            background: rgba(39, 39, 42, 0.12);
        }

        .icon {
            flex: 0 0 32px;
            height: 32px;
            margin-right: 8px;
            line-height: 0;
        }
    }
}

.main__policy {
    align-items: center;
    height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;

    .list {
        ul {
            li {
                display: inline-block;

                &:not(:last-child) {
                    margin-right: 8px;
                }
            }
        }


        .icon {
            width: 24px;
            height: 24px;
            margin-right: 8px;

            img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }

    a {
        display: flex;
        align-items: center;
        justify-content: start;
        font-size: 14px;
        color: rgb(39, 39, 42);
        text-decoration: none;
        font-weight: bold;
    }

}

.bg-white {
    background: var(--bg-white);
    border-radius: 8px;
    padding-block: 16px;
}

.main__heading {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;

    &--title {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: rgb(39, 39, 42);
        text-align: left;
    }

    a {
        display: flex;
        justify-content: end;
        align-items: center;
        text-decoration: none;
        font-size: 14px;
        color: black;

        span {
            margin-left: 5px;

            svg {
                position: relative;
                top: 1px;
            }
        }
    }
}

.product__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-self: stretch;
    gap: 8px;
}

.product__item {
    text-decoration: none;
    display: flex;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    overflow: hidden;
    flex-wrap: wrap;

    &.border {
        border: 1px solid rgba(235, 235, 240, 0.5);
    }

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
        z-index: 1;
    }

    &--thumb {
        width: 100%;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &--info {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 4px 8px;
        padding-bottom: 8px;

        .name {
            margin-top: 4px;
            margin: 0;

            a {
                font-weight: 400;
                font-size: 13px;
                line-height: 150%;
                color: rgb(39, 39, 42);
                word-break: break-word;
                text-decoration: none;

                &:hover {
                    color: #ed1164;
                }
            }
        }

        .price {
            display: flex;
            justify-content: start;
            align-items: center;
            font-weight: bold;

            .discount {
                display: inline-block;
                height: 18px;
                margin-left: 4px;
                padding: 0px 4px;
                background: rgb(245, 245, 250);
                border-radius: 1000px;
                color: rgb(39, 39, 42);
                font-size: 12px;
                font-weight: bold;
                line-height: 150%;
            }

            .regular_price {
                text-align: left;
                font-size: 16px;
                line-height: 150%;
                font-weight: bold;
                color: rgb(39, 39, 42);
            }
        }

        .star {
            margin-bottom: 0.2rem;
            margin-top: 0.2rem;
        }

        .list-star {
            svg {
                width: 12px;
                height: 12px;

                path {
                    fill: rgb(255, 196, 0);
                }
            }
        }
    }
}

.main__product--wrapper {
    margin-top: 1rem;
    padding-left: 16px;
    padding-right: 16px;
}

.owl_favorite,
.owl__product__hot {
    .owl-nav {
        position: absolute;
        width: 100%;
        z-index: 2;
        left: 0px;
        top: calc(50% - 22.5px);
        display: flex;
        justify-content: space-between;
        height: 0;

        .owl-next,
        .owl-prev {
            background: #fff !important;
            border-radius: 50%;
            height: 36px;
            position: absolute;
            transition: .3s;
            width: 36px;
            margin: 0;

            span {
                height: 0;
                opacity: 0;
                overflow: hidden;
                visibility: hidden;
            }

            &::before {
                border-top: 1px solid #ed1164;
                border-left: 1px solid #ed1164;
                content: '';
                height: 10px;
                position: absolute;
                top: 12px;
                width: 10px;
            }
        }

        .owl-prev {
            &::before {
                left: 14px;
                transform: rotate(-45deg);
            }
        }

        .owl-next {
            right: 0;

            &::before {
                left: 10px;
                transform: rotate(135deg);
            }
        }
    }
}

