@media screen and (max-width: 1100px) {
    .c-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .main__wrapper {
        flex-wrap: wrap;
        padding-top: 5px;
        flex-direction: column-reverse;

        &--left {
            width: 100%;
            max-height: 100%;
            padding-bottom: 10px;
            margin-top: 10px;
        }

        &--right {
            width: 100%;
        }

        .list__category--left {
            margin-bottom: 0;
            border-radius: 0;

            .heading {
                h2 {
                    padding-left: 0;
                }

                margin-bottom: 10px;
            }

            .category {
                display: flex;
                white-space: nowrap;
                overflow-y: hidden;
                overflow-x: scroll;
                padding-bottom: 10px;

                &__item {
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    padding: 0;

                    &:not(:last-child) {
                        margin-right: 15px;
                    }

                    .icon {
                        margin: 0;
                        margin-bottom: 10px;
                        max-width: 32px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .text {
                        word-wrap: break-word;
                    }
                }
            }
        }

    }

    .header__bottom {
        &--wrapper {
            flex-wrap: wrap;
        }

        &--search {
            margin-left: 0px;
            margin-top: 10px;

            #form-seach {
                border-radius: 5px;

                #search {
                    line-height: 34px;
                    height: 34px;
                    padding-left: 15px;
                }

                #btnSearch {
                    height: 34px;
                    width: 50px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px
                }
            }
        }

        &--flex {
            display: none;
        }

        &--mobile {
            display: flex;
        }
    }

    .header__top {
        &--wrapper {
            flex-wrap: wrap;
        }
    }

    .menu {
        padding-bottom: 5px;

        &__line {
            nav {
                overflow-x: scroll;
                overflow-y: hidden;

                &::-webkit-scrollbar {
                    height: 2px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: transparent;
                    border-radius: 5px;
                }

                &::-webkit-scrollbar-track {
                    background-color: transparent;
                }

                ul {
                    justify-content: start !important;
                    white-space: nowrap;

                    li {

                        a {
                            padding-left: 10px;
                            padding-right: 10px;
                            font-size: 13px !important;
                        }

                        &:first-child {
                            a {
                                padding-left: 0;
                            }
                        }

                        &:last-child {
                            a {
                                padding-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .main__banner .owl__banner--item img,
    .main__banner .owl__banner--item a {
        border-radius: 5px;
    }

    .main__product {
        &--wrapper {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .product__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .bg-white {
        padding-bottom: 5px;
        border-radius: 3px;
    }

    .footer__banner {
        &--wrapper {
            flex-wrap: wrap;

            .left {
                width: 100%;
                margin-bottom: 5px;
            }

            .right {
                width: 100%;
            }
        }
    }

    .footer__info {
        &--wrapper {
            flex-wrap: wrap;

            .block {
                width: 100%;

                &:not(:last-child) {
                    margin-bottom: 25px;
                }
            }
        }
    }

    .footer__tags--wrapper {
        overflow-x: scroll;
        overflow-y: hidden;

        ul {
            width: 700px;
        }
    }

    .main__policy {
        display: none;
    }

    .info-header {
        &.address {
            display: none;
        }

        &.support {
            display: none;
        }
    }

    .header__top {
        &--policy {
            display: none;
        }
    }
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {
    .product__item--info {
        .list-star {
            .star {
                width: 12px;
                height: 12px;
            }

            .total_buy {
                font-size: 11px;
            }
        }
    }

    .product__item--info {
        .name {
            a {
                line-height: 1;
            }
        }
    }

    .owl_favorite .owl-nav,
    .owl__product__hot .owl-nav {
        top: calc(50% - 80px);
    }

    /** Product detail **/
    .product__detail {
        flex-wrap: wrap;

        &--left {
            width: 100%;
            padding: 5px;

            .thumbs__main {
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .product__purchased--together {
                display: none;
            }
        }

        &--right {
            width: 100%;

            .flex-auto {
                padding: 5px;
            }

            .product__name {
                position: relative;
                flex-direction: column-reverse;

                span {
                    display: none;
                }

                h1 {
                    line-height: 1.3;
                }
            }

            .product__quantity {
                flex-wrap: wrap;

                &--inventory {
                    margin-top: 10px;
                    margin-left: 0;
                    padding-left: 0;
                    width: 100%;
                    text-align: center;
                }
            }

            .product__policy {
                &--list {
                    flex-wrap: wrap;

                    li {
                        width: 100%;
                    }
                }
            }

            .product__btn__cart {
                .btn {
                    font-size: 13px;
                    line-height: 45px;
                    height: 45px;
                }
            }
        }
    }

    .owl__gallery {
        .owl-nav {
            top: 10px;
        }
    }

    .box__star {
        flex-wrap: wrap;
        padding: 10px;

        &--svg {
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
        }

        &--list {
            margin-left: 0;

            ul {
                li {
                    margin-right: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .product__infomation,
    .product__comment,
    .product__relationship {
        padding: 10px 5px;
    }

    .main__wrapper--product_detail {
        .main__breadcumb {
            display: none;
        }

        .product__detail {
            margin-top: 5px;
        }
    }

    .product__price {
        .price-current {
            font-size: 28px;
        }
    }

    .cart__body {
        .card__item {
            flex-wrap: wrap;
            position: relative;

            .product__info {
                width: 100%;
                margin-bottom: 10px;
            }

            .product__action {
                position: absolute;
                right: 0;
                top: 0;
            }

            .product__price {
                width: 20%;
            }

            .product__quantity {
                width: 50%;
            }

            .product__total {
                width: 20%;
            }
        }

    }


}

@media screen and (max-width: 520px) and (min-width: 376px) {}

@media screen and (max-width: 375px) and (min-width: 321px) {}

@media screen and (max-width: 320px) {}