@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-main: #ed1164;
  --color-white: #fff;
  --color-black: #000;
  --bg-main: #f4f4f4;
  --bg-white: #fff;
  --bg-pink: #ed1164;
}

html {
  background: var(--bg-main);
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

*,
::after,
::before {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
  line-height: 1.5;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  position: relative;
}

.c-form {
  margin-bottom: 10px;
}
.c-form .c-label {
  margin-bottom: 0.5rem;
  display: inline-block;
}
.c-form .c-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 15px;
}
.c-form .c-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: rgba(237, 17, 100, 0.1);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(237, 17, 100, 0.1);
}
.c-form .c-select {
  word-wrap: normal;
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.header {
  background: var(--color-main);
}
.header__top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 12px;
  padding: 6px 0;
  color: var(--color-white);
}
.header__top--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top .info-header {
  display: flex;
  align-items: center;
  justify-content: start;
}
.header__top .info-header svg {
  margin-right: 5px;
}
.header__top--policy {
  display: flex;
  align-items: center;
  justify-content: end;
}
.header__top--policy li:last-child {
  margin-left: 7px;
}
.header__top--policy a {
  color: var(--color-white);
  text-decoration: none;
}
.header__bottom {
  padding: 10px 0;
  font-size: 14px;
}
.header__bottom--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__bottom--search {
  width: 100%;
  max-width: 400px;
  margin-left: 25px;
}
.header__bottom--cart {
  margin-left: 25px;
}
.header__bottom--account {
  margin-left: 25px;
}
.header__bottom--flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-logo-newsversion {
  background-position: -105px -260px;
  height: 41px;
  width: 194px;
}

[class^=icon-logo-],
[class*=icon-logo-] {
  background-image: url(//cdn.tgdd.vn/mwgcart/bluekids/images/common/desktop/icon_common@2x.webp);
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  background-size: 350px 350px;
}

#form-seach {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-white);
  border-radius: 25px;
  width: 100%;
  width: 100%;
}
#form-seach #btnSearch {
  border: none;
  padding: 0;
  width: 60px;
  height: 40px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#form-seach #search {
  background: transparent;
  border: 0;
  border-radius: 0;
  line-height: 40px;
  height: 40px;
  width: 100%;
  padding-left: 20px;
}

.flex__cart,
.flex__user {
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--color-white);
}
.flex__cart--icon,
.flex__user--icon {
  margin-right: 8px;
}
.flex__cart--icon .svg,
.flex__user--icon .svg {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
}
.flex__cart--icon .svg svg,
.flex__user--icon .svg svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.flex__cart--icon .svg svg path,
.flex__user--icon .svg svg path {
  fill: var(--color-white);
}
.flex__cart a,
.flex__user a {
  color: var(--color-white);
  text-decoration: none;
}

.menu {
  padding: 5px 0px 8px 0px;
}

.menu__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__wrapper .menu__line {
  width: 100%;
}
.menu__wrapper .menu__line ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.menu__wrapper .menu__line ul li a {
  text-decoration: none;
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 14px;
}

.menu__category {
  padding: 12px 0;
  position: absolute;
  top: 10px;
  left: 0;
  display: none;
}
.menu__category ul {
  align-items: center;
  display: block;
  justify-content: space-between;
  position: relative;
  text-align: center;
  width: 240px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 8px 8px;
  z-index: 9;
  top: 24px;
}
.menu__category ul > li {
  border-bottom: 1px solid #ececec;
  padding: 12px 0;
  text-align: left;
  margin: 0 10px;
}
.menu__category ul > li > a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  position: relative;
  white-space: nowrap;
  display: block;
  text-decoration: none;
  color: var(--color-black);
}
.menu__category ul > li > a:hover {
  color: var(--color-main);
  font-weight: bold;
}

.menu__dropdown:hover .menu__category {
  display: block;
}

.main__breadcumb .breadcrumb {
  display: flex;
  align-items: center;
  justify-content: start;
}
.main__breadcumb .breadcrumb li {
  font-size: 14px;
  position: relative;
  color: rgb(128, 128, 137);
}
.main__breadcumb .breadcrumb li:not(:last-child) {
  margin-right: 8px;
}
.main__breadcumb .breadcrumb li a {
  text-decoration: none;
  color: rgb(128, 128, 137);
}
.main__breadcumb .breadcrumb li a:hover {
  color: var(--color-black);
}
.main__breadcumb .breadcrumb li:not(:first-child) {
  padding-left: 14px;
}
.main__breadcumb .breadcrumb li:not(:first-child)::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="6" height="11" viewBox="0 0 6 11"><path fill="%23808089" fill-rule="evenodd" clip-rule="evenodd" d="M0.646447 0.646447C0.841709 0.451184 1.15829 0.451184 1.35355 0.646447L6.35355 5.64645C6.54882 5.84171 6.54882 6.15829 6.35355 6.35355L1.35355 11.3536C1.15829 11.5488 0.841709 11.5488 0.646447 11.3536C0.451184 11.1583 0.451184 10.8417 0.646447 10.6464L5.29289 6L0.646447 1.35355C0.451184 1.15829 0.451184 0.841709 0.646447 0.646447Z"></path></svg>');
  position: absolute;
  left: 0;
  top: 0;
}

.main__wrapper {
  display: flex;
  padding-top: 16px;
  justify-content: space-between;
}
.main__wrapper--left {
  width: 230px;
  max-height: 100vh;
  position: sticky;
  overflow-y: scroll;
  top: 16px;
  background-color: transparent;
  display: flex;
  padding-bottom: 117px;
  flex-direction: column;
  color: rgb(56, 56, 61);
  font-size: 14px;
  line-height: 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.main__wrapper--left::-webkit-scrollbar {
  display: none;
}
.main__wrapper--right {
  width: calc(100% - 254px);
  overflow-x: hidden;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.list__category--left {
  position: relative;
  display: flex;
  margin-bottom: 16px;
  padding: 12px 8px;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}
.list__category--left .heading {
  margin-bottom: 8px;
}
.list__category--left .heading h2 {
  font-weight: bold;
  margin: 0;
  font-size: 14px;
  padding-left: 16px;
  line-height: 150%;
  color: rgb(39, 39, 42);
}

.main__banner {
  position: relative;
}
.main__banner .owl__banner--item {
  border-radius: 10px !important;
  overflow: hidden;
}
.main__banner .owl__banner--item img,
.main__banner .owl__banner--item a {
  border-radius: 10px !important;
  overflow: hidden;
}
.main__banner .owl__banner .owl-dots {
  margin: 0px;
  position: absolute;
  left: 0;
  bottom: 15px;
  right: 0;
  margin: 0 auto;
}
.main__banner .owl__banner .owl-dots .owl-dot span {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0px 2px;
  width: 24px;
  height: 2px;
  border-radius: unset;
}
.main__banner .owl__banner .owl-dots .owl-dot.active span {
  background-color: rgb(255, 255, 255);
}

.category .category__item {
  color: rgb(56, 56, 61);
  display: flex;
  padding: 7px 16px;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.category .category__item:hover {
  background: rgba(39, 39, 42, 0.12);
}
.category .category__item .icon {
  flex: 0 0 32px;
  height: 32px;
  margin-right: 8px;
  line-height: 0;
}

.main__policy {
  align-items: center;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}
.main__policy .list ul li {
  display: inline-block;
}
.main__policy .list ul li:not(:last-child) {
  margin-right: 8px;
}
.main__policy .list .icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.main__policy .list .icon img {
  width: 100%;
  height: 100%;
  display: block;
}
.main__policy a {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 14px;
  color: rgb(39, 39, 42);
  text-decoration: none;
  font-weight: bold;
}

.bg-white {
  background: var(--bg-white);
  border-radius: 8px;
  padding-block: 16px;
}

.main__heading {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}
.main__heading--title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: rgb(39, 39, 42);
  text-align: left;
}
.main__heading a {
  display: flex;
  justify-content: end;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  color: black;
}
.main__heading a span {
  margin-left: 5px;
}
.main__heading a span svg {
  position: relative;
  top: 1px;
}

.product__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-self: stretch;
  gap: 8px;
}

.product__item {
  text-decoration: none;
  display: flex;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  overflow: hidden;
  flex-wrap: wrap;
}
.product__item.border {
  border: 1px solid rgba(235, 235, 240, 0.5);
}
.product__item:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
  z-index: 1;
}
.product__item--thumb {
  width: 100%;
}
.product__item--thumb img {
  display: block;
  width: 100%;
  height: auto;
}
.product__item--info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 4px 8px;
  padding-bottom: 8px;
}
.product__item--info .name {
  margin-top: 4px;
  margin: 0;
}
.product__item--info .name a {
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: rgb(39, 39, 42);
  word-break: break-word;
  text-decoration: none;
}
.product__item--info .name a:hover {
  color: #ed1164;
}
.product__item--info .price {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: bold;
}
.product__item--info .price .discount {
  display: inline-block;
  height: 18px;
  margin-left: 4px;
  padding: 0px 4px;
  background: rgb(245, 245, 250);
  border-radius: 1000px;
  color: rgb(39, 39, 42);
  font-size: 12px;
  font-weight: bold;
  line-height: 150%;
}
.product__item--info .price .regular_price {
  text-align: left;
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  color: rgb(39, 39, 42);
}
.product__item--info .star {
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}
.product__item--info .list-star svg {
  width: 12px;
  height: 12px;
}
.product__item--info .list-star svg path {
  fill: rgb(255, 196, 0);
}

.main__product--wrapper {
  margin-top: 1rem;
  padding-left: 16px;
  padding-right: 16px;
}

.owl_favorite .owl-nav,
.owl__product__hot .owl-nav {
  position: absolute;
  width: 100%;
  z-index: 2;
  left: 0px;
  top: calc(50% - 22.5px);
  display: flex;
  justify-content: space-between;
  height: 0;
}
.owl_favorite .owl-nav .owl-next,
.owl_favorite .owl-nav .owl-prev,
.owl__product__hot .owl-nav .owl-next,
.owl__product__hot .owl-nav .owl-prev {
  background: #fff !important;
  border-radius: 50%;
  height: 36px;
  position: absolute;
  transition: 0.3s;
  width: 36px;
  margin: 0;
}
.owl_favorite .owl-nav .owl-next span,
.owl_favorite .owl-nav .owl-prev span,
.owl__product__hot .owl-nav .owl-next span,
.owl__product__hot .owl-nav .owl-prev span {
  height: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
}
.owl_favorite .owl-nav .owl-next::before,
.owl_favorite .owl-nav .owl-prev::before,
.owl__product__hot .owl-nav .owl-next::before,
.owl__product__hot .owl-nav .owl-prev::before {
  border-top: 1px solid #ed1164;
  border-left: 1px solid #ed1164;
  content: "";
  height: 10px;
  position: absolute;
  top: 12px;
  width: 10px;
}
.owl_favorite .owl-nav .owl-prev::before,
.owl__product__hot .owl-nav .owl-prev::before {
  left: 14px;
  transform: rotate(-45deg);
}
.owl_favorite .owl-nav .owl-next,
.owl__product__hot .owl-nav .owl-next {
  right: 0;
}
.owl_favorite .owl-nav .owl-next::before,
.owl__product__hot .owl-nav .owl-next::before {
  left: 10px;
  transform: rotate(135deg);
}

.footer {
  margin-top: 1rem;
}

.footer__banner {
  margin-bottom: 20px;
}
.footer__banner--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__banner--wrapper .left,
.footer__banner--wrapper .right {
  width: 49%;
}
.footer__banner--wrapper .left a,
.footer__banner--wrapper .left img,
.footer__banner--wrapper .right a,
.footer__banner--wrapper .right img {
  border-radius: 5px;
  display: block;
}

.footer__info {
  padding: 40px 0;
}
.footer__info--wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__info--wrapper .block {
  width: 25%;
}
.footer__info--wrapper .footer__heading {
  margin-bottom: 12px;
}
.footer__info--wrapper .footer__heading--title {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: rgb(56, 56, 61);
}
.footer__info--wrapper .footer__list a {
  display: block;
  color: rgb(128, 128, 137);
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
}
.footer__info--wrapper .footer__list a:hover {
  text-decoration: underline;
}
.footer__info--wrapper .footer__list a:not(:last-child) {
  margin-bottom: 8px;
}
.footer__info--wrapper .footer_banking {
  display: flex;
  flex-wrap: wrap;
}
.footer__info--wrapper .footer_banking .banking-item {
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;
}
.footer__info--wrapper .footer_banking .banking-item .svg {
  display: block;
  width: 50px;
  height: 30px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.125rem;
}
.footer__info--wrapper .footer_banking .banking-item .svg svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer__info--wrapper .footer_social li a {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 14px;
  color: rgb(56, 56, 61);
  text-decoration: none;
}
.footer__info--wrapper .footer_social li:not(:last-child) {
  margin-bottom: 10px;
}
.footer__info--wrapper .footer_social li .icon {
  margin-right: 10px;
}
.footer__info--wrapper .footer_social li .icon .svg {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
}
.footer__info--wrapper .footer_social li .icon svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.footer__tags {
  margin-bottom: 10px;
}
.footer__tags--wrapper ul li {
  display: inline-block;
}
.footer__tags--wrapper ul li a {
  background: #fff;
  border-radius: 100px;
  padding: 5px 7px;
  margin: 0 5px 5px 0;
  display: inline-block;
  color: #333;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}
.footer__tags--wrapper ul li a:hover {
  color: orange;
}

.footer__copyright {
  text-align: center;
  background: #fff;
  text-align: center;
  padding: 13px 0px;
  font-size: 13px;
  border-top: 1px solid rgba(128, 128, 137, 0.1);
}

/**
Product detail **/
.main__wrapper--product_detail {
  width: 100%;
}

.product__detail {
  background: var(--bg-white);
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  padding: 0;
  margin-top: 1.25rem;
}
.product__detail--left {
  width: 49%;
  padding: 15px;
  flex-shrink: 0;
}
.product__detail--left .thumbs__main img {
  width: 558px;
  height: 558px;
}
.product__detail--right {
  flex: 1 0 auto;
  width: 0;
}
.product__detail--right .flex-auto {
  flex: 1 1 auto;
  width: 100%;
  box-sizing: border-box;
  padding: 1.25rem 2.1875rem 0 1.25rem;
}

.product__name {
  display: flex;
  justify-content: start;
  align-items: center;
}
.product__name span {
  background-color: var(--color-main);
  padding: 0.1875rem 0.25rem;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  cursor: default;
  margin-right: 10px;
  border-radius: 2px;
  display: inline-flex;
  transform: translateY(-0.125rem);
  font-size: 14px;
  border-radius: 3px;
}
.product__name h1 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
}

.product__star_view_buy {
  display: flex;
  margin-top: 1rem;
  justify-content: start;
  align-items: center;
}
.product__star_view_buy .product_star {
  display: flex;
  align-items: center;
  justify-content: start;
}
.product__star_view_buy .product_star .svg-star {
  text-decoration: underline;
}
.product__star_view_buy .product_star ul {
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  top: -1px;
  margin-left: 5px;
}
.product__star_view_buy .product_star ul li span {
  width: 16px;
  height: 16px;
  display: block;
}
.product__star_view_buy .product_star ul li svg polygon {
  fill: #ee4d2d;
}
.product__star_view_buy .product_view,
.product__star_view_buy .product_buy {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 15px;
  font-size: 15px;
  position: relative;
}
.product__star_view_buy .product_view .total,
.product__star_view_buy .product_buy .total {
  text-decoration: underline;
  margin-right: 5px;
}
.product__star_view_buy .product_view {
  padding-left: 15px;
  padding-right: 15px;
  border-left: 1px solid rgba(0, 0, 0, 0.14);
  border-right: 1px solid rgba(0, 0, 0, 0.14);
}

.product__price__code {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.product__price span {
  display: inline-block;
  vertical-align: middle;
}
.product__price .price-current {
  color: #ed1164;
  font-size: 24px;
  font-weight: bold;
  line-height: 31px;
  margin-right: 12px;
}
.product__price .price-old {
  color: #666;
  font-size: 14px;
  line-height: 18px;
  margin-right: 12px;
  text-decoration-line: line-through;
}
.product__price .price-percent {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  padding: 2px 0;
  background: linear-gradient(76.97deg, #ed1164 -0.49%, #ff5858 109.1%);
  border-radius: 4px;
  width: 46px;
  text-align: center;
}

.product__btn__cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}
.product__btn__cart .btn {
  align-items: center;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
  line-height: 20px;
  height: 52px;
  text-align: center;
  width: calc(50% - 4px);
  cursor: pointer;
}
.product__btn__cart .btn-addcart {
  background-color: #ed1164;
  color: #fff;
  border-radius: 8px;
  display: block;
  line-height: 52px;
}
.product__btn__cart .btn-spmarket {
  background-color: #fff;
  border: 1px solid #ed1164;
  color: #ed1164;
  border-radius: 8px;
  margin-left: 8px;
  text-transform: uppercase;
}

.product__policy--list {
  color: #000;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
}
.product__policy--list > li {
  align-items: center;
  display: flex;
  margin-top: 10px;
  width: calc(50% - 10px);
  margin-right: 10px;
}
.product__policy--list > li a {
  text-decoration: none;
  color: initial;
  font-weight: bold;
}
.product__policy--list .icon {
  text-align: center;
  width: 25px;
  height: 25px;
  position: relative;
}
.product__policy--list .icon svg {
  position: absolute;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
}
.product__policy--list p {
  padding-left: 10px;
  width: calc(100% - 25px);
  line-height: 1.5;
}

.product__promotion {
  line-height: 1.5;
  margin-bottom: 20px;
  margin-top: 15px;
}

.product__detail__infomation {
  margin-top: 1rem;
}

.product__purchased--together {
  margin-top: 1rem;
}
.product__purchased--together .product__puerchased--item {
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  overflow-x: hidden;
  transition: 0.3s;
  position: relative;
  padding-bottom: 10px;
}
.product__purchased--together .product__puerchased--item a {
  color: initial;
  display: block;
  text-decoration: none;
}
.product__purchased--together .product__puerchased--item .info h3 {
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
}
.product__purchased--together .product__puerchased--item .price {
  margin-top: 1rem;
}
.product__purchased--together .product__puerchased--item .price span {
  display: block;
  vertical-align: middle;
}
.product__purchased--together .product__puerchased--item .price .price-current {
  font-weight: bold;
  font-size: 15px;
}
.product__purchased--together .product__puerchased--item .price .price--old {
  color: #555;
  display: inline-block;
  text-decoration-line: line-through;
  font-size: 14px;
}
.product__purchased--together .product__puerchased--item .cart {
  margin-top: 1rem;
}
.product__purchased--together .product__puerchased--item #btnAddToCart {
  align-items: center;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  color: #444;
  cursor: pointer;
  display: flex;
  justify-content: center;
  line-height: 17px;
  height: 40px;
  display: block;
  width: 100%;
}
.product__purchased--together .product__puerchased--item #btnAddToCart:hover {
  background: var(--color-main);
  color: var(--color-white);
}
.product__purchased--together .product__puerchased--item .info,
.product__purchased--together .product__puerchased--item .cart {
  padding-left: 7px;
  padding-right: 7px;
}

.product__infomation,
.product__comment,
.product__relationship {
  margin: 1rem 0;
  background: var(--bg-white);
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  padding: 15px;
}
.product__infomation .heading,
.product__comment .heading,
.product__relationship .heading {
  margin-bottom: 1rem;
}
.product__infomation .heading h3,
.product__comment .heading h3,
.product__relationship .heading h3 {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.owl__gallery .owl-nav {
  position: absolute;
  left: 0px;
  width: 100%;
  top: 15px;
}
.owl__gallery .owl-nav .owl-prev,
.owl__gallery .owl-nav .owl-next {
  position: absolute;
  background: var(--bg-pink) !important;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.owl__gallery .owl-nav .owl-prev span,
.owl__gallery .owl-nav .owl-next span {
  display: none;
  opacity: 0;
  height: 0;
  font-size: 0;
}
.owl__gallery .owl-nav .owl-prev::before,
.owl__gallery .owl-nav .owl-next::before {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  content: "";
  height: 10px;
  position: absolute;
  top: 10px;
  width: 10px;
}
.owl__gallery .owl-nav .owl-prev {
  left: -10px;
}
.owl__gallery .owl-nav .owl-prev::before {
  left: 12px;
  transform: rotate(-45deg);
}
.owl__gallery .owl-nav .owl-next {
  right: -10px;
  left: auto;
}
.owl__gallery .owl-nav .owl-next::before {
  left: 8px;
  transform: rotate(135deg);
}

.product__thumb--item {
  display: block;
  position: relative;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  cursor: pointer;
}
.product__thumb--item img {
  border-radius: 3px;
}

.product__share__favorite,
.share {
  display: flex;
  justify-content: start;
  align-items: center;
}

.product__share__favorite {
  margin-top: 10px;
}
.product__share__favorite .title {
  margin-right: 5px;
  font-size: 15px;
}
.product__share__favorite .btn-share {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
}
.product__share__favorite .btn-share span {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 20px;
  max-height: 20px;
}
.product__share__favorite .btn-share span svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.product__share__favorite .btn-share:not(:last-child) {
  margin-right: 5px;
}

.btnShareMessage svg path {
  fill: #0384ff;
}

.btnShareFacebook svg path {
  fill: #0f54bd;
}

.btnSharePinterest svg path {
  fill: #de0217;
}

.btnShareTwitter svg path {
  fill: #10c2ff;
}

.btnFavorite {
  margin-left: 30px;
  background: transparent;
  cursor: pointer;
  border: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}
.btnFavorite:before {
  content: "";
  height: 20px;
  width: 1px;
  background: rgba(0, 0, 0, 0.14);
  position: absolute;
  left: -15px;
  top: calc(50% - 810x);
  z-index: 9;
}
.btnFavorite__title {
  margin-left: 10px;
}

.product__quantity {
  display: flex;
  justify-content: start;
  align-items: center;
}
.product__quantity--wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  border: 1px solid #f0f0f0;
  margin-left: 20px;
}
.product__quantity .btnMinus,
.product__quantity .btnMinus {
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  border: 0;
}
.product__quantity .quantity {
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 0;
}
.product__quantity--inventory {
  padding-left: 20px;
  font-size: 15px;
}

.page__login {
  width: 100%;
  margin: 1.5rem 0;
}

.page__login--form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.page__login--form .wrapper__form {
  padding: 20px;
  border-radius: 5px;
  background: #Fff;
  width: 100%;
  max-width: 420px;
}
.page__login--heading {
  text-align: center;
  margin-bottom: 20px;
}
.page__login--heading h1 {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}
.page__login .btnLogin {
  display: block;
  width: 100%;
  border: 1px solid var(--color-main);
  background: var(--bg-pink);
  cursor: pointer;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  color: var(--color-white);
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 15px;
}
.page__login .formLoginSocial {
  border-top: 1px solid #cfd4da;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
}
.page__login .formLoginSocial__heading {
  margin-bottom: 20px;
  text-align: center;
}
.page__login .formLoginSocial__heading--title {
  font-weight: bold;
}

.formLoginSocial__list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.formLoginSocial__list li:not(:last-child) {
  margin-bottom: 10px;
}

.btn__social {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  height: 40px;
  padding: 0 16px;
  font-size: 15px;
  color: 353d48;
  background-color: #fff;
  border: 1px solid #afb7c1;
  border-radius: 4px;
}

.c-remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-remember-forgot .c-remember {
  display: flex;
  align-items: center;
  justify-content: start;
}
.c-remember-forgot .c-remember label {
  cursor: pointer;
  margin-left: 3px;
}
.c-remember-forgot .c-remember input {
  position: relative;
  top: -1px;
}
.c-remember-forgot .c-forgot a {
  color: initial;
  font-size: 15px;
}

.c-register {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.c-register a {
  margin-left: 5px;
  color: #0d6efd;
  text-decoration: none;
}

.page__register {
  width: 100%;
  margin: 1.5rem 0;
}
.page__register--form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.page__register--form .wrapper__form {
  padding: 20px;
  border-radius: 5px;
  background: #Fff;
  width: 100%;
  max-width: 420px;
}
.page__register--heading {
  text-align: center;
  margin-bottom: 20px;
}
.page__register--heading h1 {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}
.page__register .btnRegister {
  display: block;
  width: 100%;
  border: 1px solid var(--color-main);
  background: var(--bg-pink);
  cursor: pointer;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  color: var(--color-white);
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 15px;
}
.page__register .formRegisterSocial {
  border-top: 1px solid #cfd4da;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
}
.page__register .formRegisterSocial__heading {
  margin-bottom: 20px;
  text-align: center;
}
.page__register .formRegisterSocial__heading--title {
  font-weight: bold;
}

.formRegisterSocial__list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.formRegisterSocial__list li:not(:last-child) {
  margin-bottom: 10px;
}

.btn__social {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  height: 40px;
  padding: 0 16px;
  font-size: 15px;
  color: 353d48;
  background-color: #fff;
  border: 1px solid #afb7c1;
  border-radius: 4px;
}

.page__forgot {
  width: 100%;
  margin: 1.5rem 0;
}

.page__forgot--form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.page__forgot--form .wrapper__form {
  padding: 20px;
  border-radius: 5px;
  background: #Fff;
  width: 100%;
  max-width: 420px;
}
.page__forgot--heading {
  text-align: center;
  margin-bottom: 20px;
}
.page__forgot--heading h1 {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}
.page__forgot .btnForgot {
  display: block;
  width: 100%;
  border: 1px solid var(--color-main);
  background: var(--bg-pink);
  cursor: pointer;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  color: var(--color-white);
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 15px;
}

.c-login {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.c-login a {
  margin-left: 5px;
  color: #0d6efd;
  text-decoration: none;
}

.page__cart {
  width: 100%;
}

.page__cart--wrapper {
  width: 100%;
  margin: 1.5rem 0;
}

.cart__head {
  display: flex;
  align-items: center;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.125rem;
  overflow: hidden;
  border-radius: 3px;
  height: 55px;
  font-size: 14px;
  background: #fff;
  margin-bottom: 12px;
  color: #888;
  padding: 0 20px;
}
.cart__head .product__name {
  color: rgba(0, 0, 0, 0.8);
  width: 46.27949%;
}
.cart__head .product__price {
  width: 15.88022%;
  text-align: center;
}
.cart__head .product__quantity {
  width: 15.4265%;
  text-align: center;
}
.cart__head .product__total {
  width: 10.43557%;
  text-align: center;
}
.cart__head .product__action {
  width: 12.70417%;
  text-align: center;
}

.cart__body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;
}
.cart__body .card__item {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.cart__body .card__item:not(:last-child) {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #c5c5c5;
}
.cart__body .card__item .product__info {
  width: 46.27949%;
}
.cart__body .card__item .product__price {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 15.88022%;
  font-size: 15px;
}
.cart__body .card__item .product__price .price--current {
  color: rgba(0, 0, 0, 0.54);
  text-decoration: line-through;
}
.cart__body .card__item .product__price .price--sale {
  margin: 0;
}
.cart__body .card__item .product__total {
  width: 10.43557%;
  color: #ee4d2d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart__body .card__item .product__action {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.70417%;
  text-transform: capitalize;
  flex-direction: column;
}
.cart__body .card__item .product__action .btnDelete {
  cursor: pointer;
  background: none;
  border: 0;
  width: 34px;
  height: 34px;
  border-radius: 3px;
  background: #ebebeb;
  padding: 0;
  margin: 0;
}
.cart__body .card__item .product__action .btnDelete svg path {
  cursor: pointer;
}
.cart__body .card__item .product__quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 15.4265%;
}
.cart__body .card__item .product__quantity--form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart__body .product__info {
  display: flex;
  justify-content: start;
  padding-right: 20px;
}
.cart__body .product__info .thumb {
  width: 80px;
  height: 80px;
}
.cart__body .product__info .thumb a,
.cart__body .product__info .thumb img {
  width: 80px;
  height: 80px;
  display: block;
}
.cart__body .product__info .info {
  padding-left: 10px;
}
.cart__body .product__info .info a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  font-size: 15px;
  line-height: 1.4;
}

.formQuantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  border: 1px solid #e2e2e2;
}
.formQuantity .btnMinus,
.formQuantity .btnPlus {
  display: block;
  width: 34px;
  height: 34px;
  margin: 0;
  padding: 0;
  border: none;
  background: #e2e2e2;
  cursor: pointer;
}
.formQuantity .quantity {
  display: block;
  height: 34px;
  border: none;
  width: 50px;
  text-align: center;
}

.cart__footer {
  display: flex;
  justify-content: end;
  padding-top: 20px;
}
.cart__footer--list li:not(:last-child) {
  margin-bottom: 10px;
}
.cart__footer--list b {
  font-weight: bold;
  font-size: 16px;
}
.cart__footer .btnPayment {
  display: block;
  width: 100%;
  border: 1px solid var(--color-main);
  background: var(--color-main);
  color: var(--color-white);
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}
.cart__footer .btnPayment span {
  font-weight: bold;
  text-transform: uppercase;
}/*# sourceMappingURL=app.css.map */