<div class="page__forgot page__news--password">
  <nav class="main__breadcumb" aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Trang chủ</a>
      </li>
      <li class="breadcrumb-item">
        <a href="/">Tài khoản</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Mật khẩu mới</li>
    </ol>
  </nav>
  <div class="page__forgot--form">
    <div class="wrapper__form">
      {% form 'reset_customer_password' %}
        <div class="page__forgot--heading">
          <h1>Đổi mật khẩu mới</h1>
        </div>
        {{ form.errors | default_errors }}
        <div class="c-form">
          <label for="customer_password" class="c-label">Mật khẩu mới</label>
          <input
            type="password"
            class="c-control"
            placeholder="******"
            name="customer[password]"
            id="customer_password"
            autocomplete="off" />
        </div>
        <div class="c-form">
          <label for="password_confirmation" class="c-label">Xác nhận mật khẩu mới</label>
          <input
            type="password"
            class="c-control"
            placeholder="******"
            name="customer[password_confirmation]"
            id="password_confirmation"
            autocomplete="off" />
        </div>
        <div class="c-form">
          <button class="btn btnForgot" type="submit">
            Thay đổi mật khẩu
          </button>
        </div>
        <div class="c-login">
          <p>Đăng nhập tài khoản
          </p>
          <a href="/account/login">tại đây.</a>
        </div>
      {% endform %}
    </div>
  </div>
</div>