/**
Product detail **/
.main__wrapper--product_detail {
    width: 100%;
}

.product__detail {
    background: var(--bg-white);
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    display: flex;
    padding: 0;
    margin-top: 1.25rem;

    &--left {
        width: 49%;
        padding: 15px;
        flex-shrink: 0;

        .thumbs__main {
            img {
                width: 558px;
                height: 558px;
            }
        }
    }

    &--right {
        flex: 1 0 auto;
        width: 0;

        .flex-auto {
            flex: 1 1 auto;
            width: 100%;
            box-sizing: border-box;
            padding: 1.25rem 2.1875rem 0 1.25rem;
        }
    }
}

.product__name {
    display: flex;
    justify-content: start;
    align-items: center;

    span {
        background-color: var(--color-main);
        padding: .1875rem .25rem;
        text-transform: capitalize;
        color: #fff;
        font-weight: 500;
        line-height: 1;
        white-space: nowrap;
        cursor: default;
        margin-right: 10px;
        border-radius: 2px;
        display: inline-flex;
        transform: translateY(-.125rem);
        font-size: 14px;
        border-radius: 3px;
    }

    h1 {
        font-size: 1.25rem;
        font-weight: bold;
        margin: 0;
        color: rgba(0, 0, 0, 0.8);
    }
}

.product__star_view_buy {
    display: flex;
    margin-top: 1rem;
    justify-content: start;
    align-items: center;

    .product_star {
        display: flex;
        align-items: center;
        justify-content: start;

        .svg-star {
            text-decoration: underline;
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: start;
            position: relative;
            top: -1px;
            margin-left: 5px;

            li {
                span {
                    width: 16px;
                    height: 16px;
                    display: block;
                }

                svg {
                    polygon {
                        fill: #ee4d2d;
                    }
                }
            }
        }
    }

    .product_view,
    .product_buy {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-left: 15px;
        font-size: 15px;
        position: relative;

        .total {
            text-decoration: underline;
            margin-right: 5px;
        }
    }

    .product_view {
        padding-left: 15px;
        padding-right: 15px;
        border-left: 1px solid rgba(0, 0, 0, 0.14);
        border-right: 1px solid rgba(0, 0, 0, 0.14);
    }
}

.product__price__code {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.product__price {
    span {
        display: inline-block;
        vertical-align: middle;
    }

    .price-current {
        color: #ed1164;
        font-size: 24px;
        font-weight: bold;
        line-height: 31px;
        margin-right: 12px;
    }

    .price-old {
        color: #666;
        font-size: 14px;
        line-height: 18px;
        margin-right: 12px;
        text-decoration-line: line-through;
    }

    .price-percent {
        color: #fff;
        font-size: 14px;
        line-height: 16px;
        padding: 2px 0;
        background: linear-gradient(76.97deg, #ed1164 -.49%, #ff5858 109.1%);
        border-radius: 4px;
        width: 46px;
        text-align: center;
    }
}

.product__btn__cart {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;

    .btn {
        align-items: center;
        display: flex;
        font-size: 14px;
        font-weight: bold;
        justify-content: center;
        line-height: 20px;
        height: 52px;
        text-align: center;
        width: calc(50% - 4px);
        cursor: pointer;
    }

    .btn-addcart {
        background-color: #ed1164;
        color: #fff;
        border-radius: 8px;
        display: block;
        line-height: 52px;
    }

    .btn-spmarket {
        background-color: #fff;
        border: 1px solid #ed1164;
        color: #ed1164;
        border-radius: 8px;
        margin-left: 8px;
        text-transform: uppercase;
    }
}

.product__policy {
    &--list {
        color: #000;
        display: flex;
        flex-wrap: wrap;
        font-size: 15px;

        >li {
            align-items: center;
            display: flex;
            margin-top: 10px;
            width: calc(50% - 10px);
            margin-right: 10px;

            a {
                text-decoration: none;
                color: initial;
                font-weight: bold;
            }
        }

        .icon {
            text-align: center;
            width: 25px;
            height: 25px;
            position: relative;

            svg {
                position: absolute;
                left: 0px;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }

        p {
            padding-left: 10px;
            width: calc(100% - 25px);
            line-height: 1.5;
        }
    }
}

.product__promotion {
    line-height: 1.5;
    margin-bottom: 20px;
    margin-top: 15px;
}

.product__detail__infomation {
    margin-top: 1rem;
}

.product__purchased--together {
    margin-top: 1rem;

    .product__puerchased--item {
        background-color: #fff;
        border: 1px solid #f2f2f2;
        border-radius: 8px;
        overflow-x: hidden;
        transition: .3s;
        position: relative;
        padding-bottom: 10px;

        a {
            color: initial;
            display: block;
            text-decoration: none;
        }

        .info {
            h3 {
                font-size: 14px;
                line-height: 20px;
                display: -webkit-box;
            }
        }

        .price {
            margin-top: 1rem;

            span {
                display: block;
                vertical-align: middle;

            }

            .price-current {
                font-weight: bold;
                font-size: 15px;
            }

            .price--old {
                color: #555;
                display: inline-block;
                text-decoration-line: line-through;
                font-size: 14px;
            }

        }

        .cart {
            margin-top: 1rem;
        }

        #btnAddToCart {
            align-items: center;
            border: 1px solid #f2f2f2;
            border-radius: 8px;
            color: #444;
            cursor: pointer;
            display: flex;
            justify-content: center;
            line-height: 17px;
            height: 40px;
            display: block;
            width: 100%;

            &:hover {
                background: var(--color-main);
                color: var(--color-white);
            }
        }

        .info,
        .cart {
            padding-left: 7px;
            padding-right: 7px;
        }
    }
}

.product__infomation,
.product__comment,
.product__relationship {
    margin: 1rem 0;
    background: var(--bg-white);
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    padding: 15px;

    .heading {
        h3 {
            font-weight: bold;
            font-size: 16px;
            margin: 0;
        }

        margin-bottom: 1rem;
    }
}

.owl__gallery {
    .owl-item.active {
        .product__thumb--item {}
    }

    .owl-nav {
        position: absolute;
        left: 0px;
        width: 100%;
        top: 15px;

        .owl-prev,
        .owl-next {
            position: absolute;
            background: var(--bg-pink) !important;
            height: 30px;
            width: 30px;
            cursor: pointer;

            span {
                display: none;
                opacity: 0;
                height: 0;
                font-size: 0;
            }

            &::before {
                border-top: 1px solid #fff;
                border-left: 1px solid #fff;
                content: '';
                height: 10px;
                position: absolute;
                top: 10px;
                width: 10px;
            }
        }

        .owl-prev {
            left: -10px;

            &::before {
                left: 12px;
                transform: rotate(-45deg);
            }
        }

        .owl-next {
            right: -10px;
            left: auto;

            &::before {
                left: 8px;
                transform: rotate(135deg);
            }
        }
    }
}

.product__thumb {
    &--item {
        display: block;
        position: relative;
        border-radius: 3px;
        border: 1px solid #ebebeb;
        cursor: pointer;

        img {
            border-radius: 3px;
        }
    }
}

.product__share__favorite,
.share {
    display: flex;
    justify-content: start;
    align-items: center;
}

.product__share__favorite {
    margin-top: 10px;

    .title {
        margin-right: 5px;
        font-size: 15px;
    }

    .btn-share {
        width: 24px;
        height: 24px;
        border: none;
        border-radius: 50px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        cursor: pointer;

        span {
            display: block;
            position: relative;
            height: 100%;
            width: 100%;
            max-width: 20px;
            max-height: 20px;

            svg {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }

        &:not(:last-child) {
            margin-right: 5px;
        }
    }
}

.btnShareMessage {
    svg {
        path {
            fill: #0384ff;
        }
    }
}

.btnShareFacebook {
    svg {
        path {
            fill: #0f54bd;
        }
    }
}

.btnSharePinterest {
    svg {
        path {
            fill: #de0217;
        }
    }
}

.btnShareTwitter {
    svg {
        path {
            fill: #10c2ff;
        }
    }
}

.btnFavorite {
    margin-left: 30px;
    background: transparent;
    cursor: pointer;
    border: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;

    &:before {
        content: "";
        height: 20px;
        width: 1px;
        background: rgba(0, 0, 0, 0.14);
        position: absolute;
        left: -15px;
        top: calc(50% - 810x);
        z-index: 9;
    }

    &__title {
        margin-left: 10px;
    }
}

.product__quantity {
    display: flex;
    justify-content: start;
    align-items: center;

    &--wrapper {
        display: flex;
        justify-content: start;
        align-items: center;
        border: 1px solid #f0f0f0;
        margin-left: 20px;
    }

    .btnMinus,
    .btnMinus {
        width: 40px;
        height: 40px;
        cursor: pointer;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0;
        border: 0;
    }

    .quantity {
        width: 120px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border: 0;
    }

    &--inventory {
        padding-left: 20px;
        font-size: 15px;
    }
}

.box__star {
    background-color: #fffbf8;
    min-height: 5rem;
    border: 1px solid #f9ede5;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 1.875rem;

    &--list {
        flex: 1;
        margin-left: 20px;

        ul {
            display: flex;
            justify-content: start;
            align-items: center;
            flex-wrap: wrap;

            li {
                margin-right: 15px;
                margin-bottom: 10px;

                .overview {
                    background-color: #fff;
                    border: 1px solid rgba(0, 0, 0, .09);
                    padding: 5px 25px;
                    border-radius: 5px;
                    cursor: pointer;
                    font-size: 15px;
                    white-space: nowrap;

                }

                &.active {
                    .overview {
                        border-color: var(--color-main);
                        color: var(--color-main);
                    }
                }
            }
        }
    }

    .star__svg {
        text-align: center;
    }

    .star__list {
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        svg {
            height: 24px;
            width: 24px;
            fill: #ee4d2d;

            path {
                fill: #ee4d2d;
            }
        }
    }
}

.product__comment--list {
    margin-top: 20px;

    .product__comment--item {
        display: flex;
        &:not(:last-child){
            margin-bottom: 15px;
        }
        &-avatar {
            width: 2.5rem;
            margin-right: .625rem;
            text-align: center;

            .avatar {
                width: 100%;
                position: relative;
                padding-top: 100%;
                background-color: #f5f5f5;
                border-radius: 50%;
                overflow: hidden;

                svg {
                    stroke: #c6c6c6;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 1.5rem;
                    font-weight: 400;
                    line-height: 2rem;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
            }
        }
    }
}

.author__name {
    a {
        text-decoration: none;
        color: initial;
    }
}

.author__star {
    display: flex;

    svg {
        width: 14px;
        height: 14px;
        margin-right: .125rem;
        color: #ee4d2d;
        fill: #ee4d2d;
    }
}

.author__time {
    margin-top: .25rem;
    margin-bottom: .9375rem;
    font-size: .75rem;
    color: rgba(0, 0, 0, .54);
}

.product__comment--item-reply {
    margin-bottom: .75rem;
    background-color: #f5f5f5;
    padding: .875rem .75rem;
    position: relative;
    margin-top: 10px;
    border-radius: 5px;

    .content {
        color: rgba(0, 0, 0, .65);
        margin-top: .625rem;
    }
}

.auth__like {
    display: flex;
    align-items: center;

    .btnCommentLike {
        background: transparent;
        border-radius: 0;
        border: 0;
        cursor: pointer;
        padding: 0;
    }

    .icon {
        margin-right: 5px;

        svg {
            fill: rgba(0, 0, 0, .3);
        }
    }

    .total {
        color: rgba(0, 0, 0, .3);
    }
}